// durations
$duration: 0.35s;

// colors
$bg-color: #fafbfc;;
$text-color: #000;
$link-color: #4285F4;

$border-color: #c1c2c7;
$note-color: #c2c2ca;

// fonts
$font-family: 'PT Sans', Arial, Helvetica, sans-serif;
$font-size: 16px;
$line-height: 1.4;

//sizes
$contentSize: 1024px;
$sidebarSize: 200px;
$sidebarOffset: 40px;

// media
$tablet-width: 1024px;
$vertical-tablet-width: 769px;
$phone-width: 767px;
$vertical-phone-width: 479px;